
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.historial-de-mesas-32B {
  box-sizing: border-box;
  padding-right: 47.85rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.historial-de-mesas-32B .auto-group-9whh-YzX {
  margin-right: 28.6415rem;
  width: 9.2rem;
  height: 105.6rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.historial-de-mesas-32B .auto-group-gvzd-4hy {
  margin-top: 0.0127rem;
  width: 100.5085rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.historial-de-mesas-32B .auto-group-gvzd-4hy .auto-group-nj1h-Q19 {
  margin-bottom: 1.5751rem;
  padding-left: 44.52rem;
  width: 100%;
  display: grid;
  align-items: center;
  flex-shrink: 0;
  flex-wrap: nowrap;
  align-content: center;
}
.historial-de-mesas-32B .auto-group-gvzd-4hy .auto-group-nj1h-Q19 .qp7ve01-1-8Sw {
  margin-right: 5.8727rem;
  width: 100.9358rem;
  height: 10.5122rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.historial-de-mesas-32B .auto-group-gvzd-4hy .auto-group-nj1h-Q19 .ala-burger-ala-pizza-U11 {
  margin-top: 0.5624rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2000000477;
  color: #714e3d;
  font-family: IM FELL DW Pica SC, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.historial-de-mesas-32B .auto-group-gvzd-4hy .historial-de-mesas-kz7 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2;
  color: #513932;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.historial-de-mesas-32B .auto-group-gvzd-4hy .auto-group-dkc3-gMy {
  box-sizing: border-box;
  padding: 1rem 5.559rem 0rem 30.559rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.historial-de-mesas-32B .auto-group-gvzd-4hy .auto-group-dkc3-gMy .auto-group-edp9-C5R {
  margin: 0rem 15.191rem 6.5rem 0rem;
  width: calc(100% - 15.1915rem);
  height: 10.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.historial-de-mesas-32B .auto-group-gvzd-4hy .auto-group-dkc3-gMy .auto-group-edp9-C5R .auto-group-zjsh-7TH {
  margin-right: 1.6rem;
  width: 11.9rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.historial-de-mesas-32B .auto-group-gvzd-4hy .auto-group-dkc3-gMy .auto-group-edp9-C5R .auto-group-zjsh-7TH .rectangle-3-r9y {
  width: 10.9rem;
  height: 10.7rem;
  position: absolute;
  left: 0.5rem;
  top: 0.1rem;
  border: solid 0.2rem #c1bdbd;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border-radius: 1.5rem;
}
.historial-de-mesas-32B .auto-group-gvzd-4hy .auto-group-dkc3-gMy .auto-group-edp9-C5R .auto-group-zjsh-7TH .hqtrp501-2-jjZ {
  box-sizing: border-box;
  padding: 2.687rem 1.125rem 0rem 1.207rem;
  width: 11.9rem;
  height: 9.8rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.historial-de-mesas-32B .auto-group-gvzd-4hy .auto-group-dkc3-gMy .auto-group-edp9-C5R .auto-group-zjsh-7TH .hqtrp501-2-jjZ .group-pW7 {
  margin-bottom: 1.3907rem;
  width: 9.5676rem;
  height: 5.2073rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.historial-de-mesas-32B .auto-group-gvzd-4hy .auto-group-dkc3-gMy .auto-group-edp9-C5R .auto-group-zjsh-7TH .hqtrp501-2-jjZ .d-kPm {
  margin-left: 0.0054rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.historial-de-mesas-32B .auto-group-gvzd-4hy .auto-group-dkc3-gMy .auto-group-edp9-C5R .m-pedido-personas-total-de-pagado-con--49Z {
  margin-bottom: 0.5rem;
  max-width: 10.7rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2000000817;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}

.historial-de-mesas-32B .auto-group-gvzd-4hy .auto-group-dkc3-gMy .auto-group-edp9-C5R .m-pedido-personas-total-de-pagado-con--49Z .m-pedido-personas-total-de-pagado-con--49Z-sub-1 {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2000000817;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.historial-de-mesas-32B .auto-group-gvzd-4hy .auto-group-dkc3-gMy .auto-group-is11-oPy {
  margin: 0rem 13.291rem 6.3rem 0.5rem;
  width: calc(100% - 13.7915rem);
  height: 10.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.historial-de-mesas-32B .auto-group-gvzd-4hy .auto-group-dkc3-gMy .auto-group-is11-oPy .auto-group-hzbr-vDh {
  margin-right: 2.1rem;
  box-sizing: border-box;
  padding: 1.77rem 1.676rem 1.841rem 1.513rem;
  height: 100%;
  border: solid 0.2rem #c1bdbd;
  background-color: #f2f2f2;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.historial-de-mesas-32B .auto-group-gvzd-4hy .auto-group-dkc3-gMy .auto-group-is11-oPy .auto-group-hzbr-vDh .nnxkxd01-4-Sxj {
  width: 7.7116rem;
  height: 7.0891rem;
  object-fit: contain;
  vertical-align: top;
}
.historial-de-mesas-32B .auto-group-gvzd-4hy .auto-group-dkc3-gMy .auto-group-is11-oPy .m-pedido-personas-total-de-pagado-con--ANw {
  margin-bottom: 0.2rem;
  max-width: 12.6rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2000000817;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}

.historial-de-mesas-32B .auto-group-gvzd-4hy .auto-group-dkc3-gMy .auto-group-is11-oPy .m-pedido-personas-total-de-pagado-con--ANw .m-pedido-personas-total-de-pagado-con--ANw-sub-1 {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2000000817;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.historial-de-mesas-32B .auto-group-gvzd-4hy .auto-group-dkc3-gMy .auto-group-jttb-XMu {
  margin: 0rem 13.691rem 6.4rem 0.5rem;
  width: calc(100% - 14.1915rem);
  height: 10.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.historial-de-mesas-32B .auto-group-gvzd-4hy .auto-group-dkc3-gMy .auto-group-jttb-XMu .auto-group-qesf-rQB {
  margin-right: 1.7rem;
  box-sizing: border-box;
  padding: 2.552rem 0.6rem 2.466rem 0.796rem;
  height: 100%;
  border: solid 0.2rem #c1bdbd;
  background-color: #f2f2f2;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.historial-de-mesas-32B .auto-group-gvzd-4hy .auto-group-dkc3-gMy .auto-group-jttb-XMu .auto-group-qesf-rQB .ptpbtf01-1-6-yzb {
  width: 9.504rem;
  height: 5.6822rem;
  object-fit: contain;
  vertical-align: top;
}
.historial-de-mesas-32B .auto-group-gvzd-4hy .auto-group-dkc3-gMy .auto-group-jttb-XMu .m-pedido-personas-total-de-pagado-con--hfh {
  margin-bottom: 0.2rem;
  max-width: 12.6rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2000000817;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}

.historial-de-mesas-32B .auto-group-gvzd-4hy .auto-group-dkc3-gMy .auto-group-jttb-XMu .m-pedido-personas-total-de-pagado-con--hfh .m-pedido-personas-total-de-pagado-con--hfh-sub-1 {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2000000817;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.historial-de-mesas-32B .auto-group-gvzd-4hy .auto-group-dkc3-gMy .auto-group-vbmu-5gF {
  margin: 0rem 13.691rem 4.3rem 0.5rem;
  width: calc(100% - 14.1915rem);
  height: 10.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.historial-de-mesas-32B .auto-group-gvzd-4hy .auto-group-dkc3-gMy .auto-group-vbmu-5gF .auto-group-byhm-buV {
  margin-right: 1.7rem;
  box-sizing: border-box;
  padding: 3.4rem 0.6rem 3.2rem 0.5rem;
  height: 100%;
  border: solid 0.2rem #c1bdbd;
  background-color: #f2f2f2;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.historial-de-mesas-32B .auto-group-gvzd-4hy .auto-group-dkc3-gMy .auto-group-vbmu-5gF .auto-group-byhm-buV .group-jVu {
  width: 9.8rem;
  height: 4.1rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.historial-de-mesas-32B .auto-group-gvzd-4hy .auto-group-dkc3-gMy .auto-group-vbmu-5gF .m-pedido-personas-total-de-pagado-con--Sv7 {
  margin-bottom: 1rem;
  max-width: 12.6rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2000000817;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}

.historial-de-mesas-32B .auto-group-gvzd-4hy .auto-group-dkc3-gMy .auto-group-vbmu-5gF .m-pedido-personas-total-de-pagado-con--Sv7 .m-pedido-personas-total-de-pagado-con--Sv7-sub-1 {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2000000817;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.historial-de-mesas-32B .auto-group-gvzd-4hy .auto-group-dkc3-gMy .auto-group-p7es-1Lw {
  margin: 0rem 13.691rem 0rem 0.5rem;
  width: calc(100% - 14.1915rem);
  height: 10.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.historial-de-mesas-32B .auto-group-gvzd-4hy .auto-group-dkc3-gMy .auto-group-p7es-1Lw .auto-group-xffh-8wM {
  margin-right: 1.7rem;
  box-sizing: border-box;
  padding: 2.7rem 0.832rem 2.793rem 0.5rem;
  height: 100%;
  border: solid 0.2rem #c1bdbd;
  background-color: #f2f2f2;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.historial-de-mesas-32B .auto-group-gvzd-4hy .auto-group-dkc3-gMy .auto-group-p7es-1Lw .auto-group-xffh-8wM .group-5Lo {
  width: 9.5676rem;
  height: 5.2073rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.historial-de-mesas-32B .auto-group-gvzd-4hy .auto-group-dkc3-gMy .auto-group-p7es-1Lw .m-pedido-personas-total-de-pagado-con--onb {
  margin-bottom: 1rem;
  max-width: 12.6rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2000000817;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}

.historial-de-mesas-32B .auto-group-gvzd-4hy .auto-group-dkc3-gMy .auto-group-p7es-1Lw .m-pedido-personas-total-de-pagado-con--onb .m-pedido-personas-total-de-pagado-con--onb-sub-1 {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2000000817;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
